* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #d8d8e2;
  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
}
