@font-face {
  font-family: "Raiderfont";
  src: local("Raiderfont"), url("./fonts/Raiderfont.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-size: 15px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style: none;
}

.left,
.right {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.left {
  background: #b3b4af;
  left: 0%;
  width: 0%;
}

.right {
  background: #191921;
  right: 0%;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.nav ul li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 8px;
  font-weight: 600;
  padding: 0 30px;
}

.nav .logo {
  flex: 1;
  font-size: 18px;
  letter-spacing: 0;
}

.nav .menu {
  flex: 1;
  font-size: 18px;
}

.nav .collection {
  flex: 1;
  font-size: 0.6rem;
}

.nav .explore {
  flex: 4;
  font-size: 0.6rem;
}

.nav .search {
  flex: 3;
  font-size: 0.6rem;
}

.nav .profile {
  flex: 0;
}

.nav .profile .img {
  background-image: url("/here/img/fmm.png");
  background-position: 50%;
  background-size: cover;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.img-wrapper {
  position: absolute;
  bottom: 0;
  left: 180px;
}

.img-wrapper .karina {
  background-image: url("/here/img/home.jpg");
  background-size: cover;
  height: 550px;
  width: 0;
}

.text {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

.text h1 {
  font-size: 90px;
  color: #fff;
  font-family: "Raiderfont";
  text-transform: uppercase;
}

.text p {
  font-size: 25px;
  color: #fff;
  font-family: monospace;
}

.name {
  position: absolute;
  top: 50%;
  left: -270px;
  transform: translateY(-50%);
  font-size: 90px;
  font-family: "Raiderfont";
  text-transform: uppercase;
  color: transparent;
  opacity: 0.2;
  -webkit-text-stroke: 2px #fff;
}

.bottomnav {
  position: absolute;
  bottom: 100px;
  right: 120px;
}

.bottomnav ul li {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-top: 20px;
  transition: 0.5s ease-out;
}

.bottomnav ul li:hover {
  font-weight: 700;
  border-bottom: 1px solid #fff;
}

/* media queries */
@media only screen and (max-width: 481px) {
}

@media only screen and (max-width: 769px) {
}

@media only screen and (max-width: 1201px) {
}
